<div class="footer">
  <h4>Vishnu Sandeep Reddy</h4>
  <h5>© 2022</h5>
  <box-icon type='logo' name='github' color='rgba(1,1,1,0.47)'></box-icon>
  <box-icon name='linkedin-square' type='logo' color='rgba(1,1,1,0.47)'></box-icon>
  <box-icon name='twitter' type='logo' color='rgba(1,1,1,0.47)'></box-icon>
  <box-icon name='quora' type='logo' color='rgba(1,1,1,0.47)' ></box-icon>
</div>
