<div class="navigation">
  <nav>
    <div class="tasks">
      <h1>TASKS</h1>
    </div>

    <ul class="nav-list">
      <a href="/">
      <div class="tl nav-class">
        <box-icon class="itl" size=lg name='list-ul'></box-icon><li class="itl nav-list-item">Task List</li>
      </div>
      </a>
      <a href="/#addtask">
      <div class="at nav-class">
        <box-icon color="#06283D" size="lg" name='add-to-queue'></box-icon><li class="iat nav-list-item">New Task</li>
      </div>
      </a>
      <a href="/comments">
      <div class="ct nav-class">
        <box-icon color="#06283D" size="lg"  name='comment-edit'></box-icon><li class="ict nav-list-item">Comments</li>
      </div>
      </a>
    </ul>
  </nav>
</div>
